<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item{% if page.title == "Jsnarvaezb" %} active{% endif %}" href="/jsnarvaezb/"> jsnarvaezb</a>
    <a class="sidebar-nav-item{% if page.title == "Diefrodriguezcha" %} active{% endif %}" href="/diefrodriguezcha/"> diefrodriguezcha</a>
    <a class="sidebar-nav-item{% if page.title == "Video Ascii" %} active{% endif %}" href="/ascii/"> Video ascii</a>
    <a class="sidebar-nav-item{% if page.title == "Procesamiento de imágenes" %} active{% endif %}" href="/images"> Procesamiento de imágenes</a>
    <a class="sidebar-nav-item{% if page.title == "About" %} active{% endif %}" href="/about/"> about</a>
          
  </nav>
</div>
